<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Mercedes-Benz Blog</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%= posts_path %>">All Articles <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <%= link_to 'New article', new_post_path, class: 'btn btn-primary d-flex float-right' %>
  </nav>
  </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
